---
import { format } from "@formkit/tempo";
import { IconCalendarPlus, IconMapPin } from "@tabler/icons-react";
import BackBtn from "~/components/back-btn.astro";
import Avatar from "~/components/ui/avatar";
import UserPostsFeedPlaceholder from "~/components/placeholders/user-posts-feed-placeholder.astro";
import UserPostsFeed from "~/components/user-posts-feed.astro";
import RootLayout from "~/layouts/RootLayout.astro";
import { getSessionValue } from "~/scripts/session";
import ApiServices from "~/services/api";
import type { User } from "~/definitions";
const id = getSessionValue(Astro);
if (id == null) return Astro.redirect("/login");

const { username } = Astro.params;
const { getUserByUsername } = new ApiServices(Astro.url.origin);

const { response: user } = (await getUserByUsername(username!)) as {
  response: User;
};
---

<RootLayout title=`@${user?.username} - Perfil.` withAside>
  <section class="admin-profile">
    <!-- ENCABEZADO SUPERIOR -->
    <header>
      <BackBtn />
      <div>
        <strong class="admin-profile__name">
          {user?.name}
        </strong>
      </div>
    </header>

    <!-- FOTO DE PORTADA -->
    <picture class="admin-profile__header-photo">
      {
        user?.headerPhoto && (
          <img
            src={user?.headerPhoto.secureUrl}
            alt={`Foto de portada de @${user?.username}`}
            class="aspect-video object-contain object-center w-full"
          />
        )
      }
    </picture>

    <div class="admin-profile__container--bottom mb-4">
      <!-- AVATAR -->

      <div
        class="w-full absolute flex justify-end -top-14 left-0 z-10 px-[13px]"
      >
        <div class="flex flex-col items-center gap-2">
          <Avatar avatar={user.avatar} name="Leonel" withLetter size={140} />

          <!-- BOTÓN -->
          <a
            href="/admin/profile/edit"
            title="Edita tu perfil."
            class="admin-profile__edit-btn"
          >
            Editar perfil
          </a>
        </div>
      </div>

      <!-- NOMBRE Y NOMBRE DE USUARIO -->
      <div class="admin-profile__container--names">
        <h1>
          {user?.name}
        </h1>
        <small>
          @{user?.username}
        </small>
      </div>

      <!-- BIO -->
      <p class="admin-profile__bio">
        {user?.bio}
      </p>

      <!-- OTRA INFORMACIÓN -->
      <div class="admin-profile__container--other-info">
        <span>
          <IconMapPin />
          {user?.location?.country ? user.location.country : "Sin ubicación"}
        </span>

        <span>
          <IconCalendarPlus /> Te uniste: {format(user?.created, "medium")}
        </span>
      </div>

      <!-- SEGUIDORES -->
      <div class="admin-profile__container--followers">
        <div>
          <span>
            <strong>
              {user?.followed?.length}
            </strong>
            Siguiendo
          </span>

          <span>
            <strong>
              {user?.followers?.length}
            </strong>
            Seguidores
          </span>
        </div>
      </div>
    </div>

    <UserPostsFeed userId={id} server:defer>
      <UserPostsFeedPlaceholder slot="fallback" />
    </UserPostsFeed>
  </section>
</RootLayout>

<style>
  .admin-profile {
    min-height: 100dvh;
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 48px;

    /* ENCABEZADO SUPERIOR */
    & > header {
      position: absolute;
      top: 0;
      z-index: 3;
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 6px 13px;
      background-color: rgb(250, 250, 250);
      & > div {
        display: flex;
        flex-flow: column;
        margin-left: 6px;
      }
    }

    /* FOTO DE PORTADA */
    .admin-profile__header-photo {
      width: 100%;
      height: 220px;
      aspect-ratio: 16/9;
      border: 1px solid rgb(33, 33, 33);
      overflow: hidden;

      & > img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }
  }

  .admin-profile__container--bottom {
    position: relative;
    padding: 0 13px;

    /* USERNAME & NAME CONTAINER */
    .admin-profile__container--names {
      margin: 10px 0;
      & > h1 {
        font-weight: bold;
      }
      & > small {
        color: rgba(33, 33, 33, 0.7);
      }
    }

    /* BIOGRAFÍA */
    .admin-profile__bio {
      max-width: 46ch;
    }

    /* OTRA INFORMACIÓN */
    .admin-profile__container--other-info {
      margin: 10px 0;
      display: flex;
      flex-flow: row;
      gap: 10px;
      color: rgba(33, 33, 33, 0.6);
      & > span {
        width: fit-content;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 3px;
        font-size: 14px;
      }
    }

    /* SEGUIDORES Y SEGUIDOS */
    .admin-profile__container--followers {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      & > span > strong {
        color: #000;
      }
      & > span {
        color: rgba(33, 33, 33, 0.7);
      }
    }
  }
  /* BOTÓN EDITAR PERFIL */
  .admin-profile__edit-btn {
    width: fit-content;
    display: flex;
    text-decoration: none;
    padding: 6px 16px;
    color: #000;
    background-color: var(--color_p);
    border-radius: 10px;
    transition:
      box-shadow 0.2s ease-in,
      transform 0.2s ease;

    &:hover {
      box-shadow: 0 3px 4px var(--color_shadow);
      transform: scale(1.02);
    }
    &:active {
      transform: scale(1);
    }
  }
  .admin-profile__container--posts {
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    border-top: 1px solid rgba(33, 33, 33, 0.6);
  }
</style>
