---
import { format } from "@formkit/tempo";
import { IconCalendarPlus, IconMapPin } from "@tabler/icons-react";
import BackBtn from "~/components/back-btn.astro";
import Avatar from "~/components/ui/avatar";
import UserPostsFeedPlaceholder from "~/components/placeholders/user-posts-feed-placeholder.astro";
import UserPostsFeed from "~/components/user-posts-feed.astro";
import RootLayout from "~/layouts/RootLayout.astro";
import { getSessionValue } from "~/scripts/session";
import ApiServices from "~/services/api";
import type { User } from "~/definitions";
const id = getSessionValue(Astro);
if (id == null) return Astro.redirect("/login");

const { username } = Astro.params;
const { getUserByUsername } = new ApiServices(Astro.url.origin);

const { response: user } = (await getUserByUsername(username!)) as {
  response: User;
};
---

<RootLayout
  title=`${user?.name} (@${user?.username}) - Livio.`
  withAside
  faviconHref={user?.avatar?.secureUrl}
>
  <section
    class="min-h-screen relative w-full max-w-[500px] mx-auto flex flex-col pt-[48px]"
  >
    <!-- ENCABEZADO SUPERIOR -->
    <header
      class="absolute top-0 z-30 w-full flex flex-row items-center px-[13px] py-[6px] bg-white"
    >
      <BackBtn />
      <div class="flex flex-col ml-6">
        <strong class="admin-profile__name">
          {user?.name}
        </strong>
      </div>
    </header>

    <!-- FOTO DE PORTADA -->
    {
      user?.headerPhoto && (
        <img
          src={user?.headerPhoto.secureUrl}
          alt={`Foto de portada de @${user?.username}`}
          class="aspect-video h-[200px] object-cover object-center w-full"
          loading="lazy"
          width={user?.headerPhoto.width}
          height={user?.headerPhoto.height}
        />
      )
    }

    <div class="relative px-[13px] mb-4">
      <!-- AVATAR -->

      <div
        class="w-full absolute flex justify-end -top-14 left-0 z-10 px-[13px]"
      >
        <div class="flex flex-col items-center gap-2">
          <Avatar avatar={user.avatar} name="Leonel" withLetter size={140} />

          <!-- BOTÓN -->
          <a
            href="/admin/profile/edit"
            title="Edita tu perfil."
            class="admin-profile__edit-btn"
          >
            Editar perfil
          </a>
        </div>
      </div>

      <!-- NOMBRE Y NOMBRE DE USUARIO -->
      <div class="my-[10px]">
        <h1 class="font-bold">
          {user?.name}
        </h1>
        <small class="text-black/70">
          @{user?.username}
        </small>
      </div>

      <!-- BIO -->
      <p class="max-w-[30ch]">
        {user?.bio}
      </p>

      <!-- OTRA INFORMACIÓN -->
      <div class="my-[10px] flex flex-row gap-[10px] text-black/70">
        <span id="info">
          <IconMapPin />
          {user?.location?.country ? user.location.country : "Sin ubicación"}
        </span>

        <span id="info">
          <IconCalendarPlus /> Te uniste: {format(user?.created, "medium")}
        </span>
      </div>

      <!-- SEGUIDORES -->
      <div
        class="admin-profile__container--followers flex flex-row items-center justify-between"
      >
        <div>
          <span>
            <strong>
              {user?.followed?.length}
            </strong>
            Siguiendo
          </span>

          <span>
            <strong>
              {user?.followers?.length}
            </strong>
            Seguidores
          </span>
        </div>
      </div>
    </div>

    <UserPostsFeed userId={id} server:defer>
      <UserPostsFeedPlaceholder slot="fallback" />
    </UserPostsFeed>
  </section>
</RootLayout>

<style>
  #info {
    width: fit-content;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
  }
  /* SEGUIDORES Y SEGUIDOS */
  .admin-profile__container--followers {
    & > span > strong {
      color: #000;
    }
    & > span {
      color: rgba(33, 33, 33, 0.7);
    }
  }

  /* BOTÓN EDITAR PERFIL */
  .admin-profile__edit-btn {
    width: fit-content;
    display: flex;
    text-decoration: none;
    padding: 6px 16px;
    color: #000;
    background-color: var(--color_p);
    border-radius: 10px;
    transition:
      box-shadow 0.2s ease-in,
      transform 0.2s ease;

    &:hover {
      box-shadow: 0 3px 4px var(--color_shadow);
      transform: scale(1.02);
    }
    &:active {
      transform: scale(1);
    }
  }
</style>
